<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Index Root</title>
</head>
<body>
    <li><a href="/admin">Pannello admin</a></li>
    <li><a href="{% url 'prima_app:index'%}">index prima_app</a></li>
    <p>link provvisori seconda app per controllare funzionamento:</p>
    <li><a href="{% url 'seconda_app:es_if'%}">es_if</a></li>
    <li><a href="{% url 'seconda_app:if_else_elif'%}">if_else_elif</a></li>
        
</body>
</html>